// =========================================================
// Utilities > Grid Columns
// =========================================================

@use '../settings/config' as *;

//
// Grid layout system
//
// This generates columns for all needed media queries.
// Unused classes will be purged by the css post-processor.
//

$colsMax: $base-column-num + 1;

$breakpoints: (
  "null" null,
  "from-tiny" $from-tiny,
  "from-small" $from-small,
  "from-medium" $from-medium,
  "from-large" $from-large,
  "from-big" $from-big,
) !default;

@each $breakpoint, $mediaquery in $breakpoints {
  @for $fromIndex from 1 through $colsMax {
    @for $toIndex from 1 through $colsMax {
      @if $mediaquery == null {
        .u-gc-#{$fromIndex}\/#{$toIndex} {
          --gc-start: #{$fromIndex};
          --gc-end: #{$toIndex};
        }
      } @else {
        .u-gc-#{$fromIndex}\/#{$toIndex}\@#{$breakpoint} {
          @media (min-width: em($mediaquery)) {
            --gc-start: #{$fromIndex};
            --gc-end: #{$toIndex};
          }
        }
      }
    }
  }
}
