// =========================================================
// Utilities > Hide
// =========================================================

///
/// Hide visually and from screen readers.
///
.u-hidden {
  //display: none !important;
  display: none;
}

///
/// Hide only visually, but have it available for screen readers:
/// @link https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
///
.u-hidden-visually {
  //position: absolute !important;
  //overflow: hidden !important;
  //clip: rect(0 0 0 0) !important;
  //width: 1px !important;
  //height: 1px !important;
  //border: 0 !important;
  //margin: -1px !important;
  //padding: 0 !important;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
}
