// =========================================================
// Elements > Page
// =========================================================

@use '../settings/colors' as *;
@use '../settings/config' as *;
@use '../tools/functions' as *;

html {
  font-size: $font-size-base;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (min-width: $from-big) {
    font-size: $font-size-h5;
  }

  @media screen and (min-width: $from-huge) {
    font-size: $font-size-h4;
  }

  @media screen and (min-width: $from-gigantic) {
    font-size: $font-size-h3;
  }

  @media screen and (min-width: $from-colossal) {
    font-size: $font-size-h2;
  }
}

body {
  background-color: $color-white;
  font-family: $font-family;
  //font-variant-ligatures: none;
  line-height: $line-height;
  color: $color-black;

  //-webkit-tap-highlight-color: rgba($color-blue, 0.5);

  &.mce-content-body {
    margin: rem($font-size-small);
  }
}

*::selection {
  background-color: $color-black;
  color: $color-white;
}

// Links
// =========================================================

a {
  outline: none;
  text-decoration: none;
  color: inherit;

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

// Buttons
// =========================================================

button {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  //font-family: inherit;
}

// Images
// =========================================================

img {
  font-style: italic;
}

svg {
  fill: $color-black;
}

// Forms
// =========================================================

input:-webkit-autofill {
  -webkit-text-fill-color: $color-black;
}

//
// Delay the state change to avoid the ugly default yellow color
//
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
}

// Embeds
// =========================================================

//iframe {
//  border: none;
//}
