// =========================================================
// Components > Barba
// =========================================================

.c-barba {
  &_container + &_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
  }
}
