// =========================================================
// Components > Demo
// =========================================================

@use '../settings/config' as *;

//
// Delete this file and put new component styles
// on each file inside this folder.
//

.c-header {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
  background-color: #666;
  color: #fff;
  overflow: hidden;
}

// ---------------------------------------------------------

.c-nav {
  display: flex;
  align-items: center;
  height: 4rem;

  ul {
    display: inherit;
    margin-bottom: 0;
  }

  li {
    padding: 0.2rem 0.5rem;
  }
}

// ---------------------------------------------------------

.c-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;

  &_content {
    max-width: 37rem;
    padding: 4rem 8% 0;
    font-size: $font-size-h5;

    button {
      margin-top: 1rem;
    }
  }
}

// ---------------------------------------------------------

.c-button {
  padding: 0.3rem 0.5rem;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1rem;

  &:hover {
    background-color: #222;
  }

  &:active {
    background-color: #fff;
    color: #000;
  }
}

// ---------------------------------------------------------

.c-latest {
  .o-container {
    padding-top: 4rem;
  }
}

// ---------------------------------------------------------

.c-singleEntry {
  .o-container {
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
}

// ---------------------------------------------------------

.c-footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  background-color: #333;
  color: #fff;

  p {
    margin-bottom: 0;
  }
}
