// =========================================================
// Components > Headings
// =========================================================

@use '../tools/functions' as *;

.c-heading {
  //margin-top: 0;
  margin-bottom: rem(32px);
  //line-height: $line-height;

  &.-h1 {
    font-size: var(--font-size-h1);
  }

  &.-h2 {
    font-size: var(--font-size-h2);
  }

  &.-h3 {
    font-size: var(--font-size-h3);
  }

  &.-h4 {
    font-size: var(--font-size-h4);
  }

  &.-h5 {
    font-size: var(--font-size-h5);
  }

  &.-h6 {
    font-size: var(--font-size-h6);
  }
}
