// =========================================================
// Tools > Functions
// =========================================================

@use 'sass:math';
@use 'sass:meta';

@use '../settings/config' as *;

///
/// Converts the given pixel value to its EM quivalent.
///
/// @param  {Number} $size - The pixel value to convert.
/// @param  {Number} $base [$font-size-base] - The assumed base font size.
/// @return {Number} Scalable pixel value in EMs.
///
@function em($size, $base: $font-size-base) {
  @if (meta.type-of($size) == number) {
    @if (math.unit($size) != 'px') {
      @error "`#{$size}` needs to be a pixel value.";
    }
  } @else {
    @error "`#{$size}` needs to be a number.";
  }

  @if (meta.type-of($base) == number) {
    @if (math.unit($base) != 'px') {
      @error "`#{$base}` needs to be a pixel value.";
    }
  } @else {
    @error "`#{$base}` needs to be a number.";
  }

  @return calc($size / $base) * 1em;
}

///
/// Converts the given pixel value to its REM quivalent.
///
/// @param  {Number} $size - The pixel value to convert.
/// @param  {Number} $base [$font-size] - The assumed base font size.
/// @return {Number} Scalable pixel value in REMs.
///
@function rem($size, $base: $font-size-base) {
  @if (meta.type-of($size) == number) {
    @if (math.unit($size) != 'px') {
      @error "`#{$size}` needs to be a pixel value.";
    }
  } @else {
    @error "`#{$size}` needs to be a number.";
  }

  @if (meta.type-of($base) == number) {
    @if (math.unit($base) != 'px') {
      @error "`#{$base}` needs to be a pixel value.";
    }
  } @else {
    @error "`#{$base}` needs to be a number.";
  }

  @return calc($size / $base * 1rem);
}
