// =========================================================
// Settings > Colors
// =========================================================

$color-primary: #153fa6;

$color-white: #ffffff;
$color-black: #000000;
