// =========================================================
// Settings > Configuration
// =========================================================

// Typography
// =========================================================

$font-family: 'Helvetica Neue', Arial, sans-serif;

// Recommended font sizes in pixels to choose from:
// 10 12 14 16 18 20 24 32 36 48 64 72 84 92

$font-size-h1: 72px !default;
$font-size-h2: 48px !default;
$font-size-h3: 32px !default;
$font-size-h4: 24px !default;
$font-size-h5: 20px !default;
$font-size-h6: 18px !default;

$font-size-base: 16px !default;
$font-size-medium: 14px !default;
$font-size-small: 12px !default;
$font-size-tiny: 10px !default;

$line-height: calc($font-size-h5 / $font-size-base);

// Spacing Units
// =========================================================

$unit-large: 32px;
$unit-medium: 28px;
$unit-small: 24px;
$unit-tiny: 20px;

// Grid
// =========================================================

$base-column-num: 12;
$grid-gutter: 32px;
$grid-margin: 5.5vw;

// Breakpoints
// =========================================================

$from-micro: 320px !default;
$to-micro: $from-micro - 1 !default;
$from-tiny: 400px !default;
$to-tiny: $from-tiny - 1 !default;
$from-small: 720px !default;
$to-small: $from-small - 1 !default;
$from-medium: 960px !default;
$to-medium: $from-medium - 1 !default;
$from-large: 1280px !default;
$to-large: $from-large - 1 !default;
$from-big: 1440px !default;
$to-big: $from-big - 1 !default;
$from-huge: 1600px !default;
$to-huge: $from-huge - 1 !default;
$from-enormous: 1760px !default;
$to-enormous: $from-enormous - 1 !default;
$from-immense: 1920px !default;
$to-immense: $from-immense - 1 !default;
$from-gigantic: 2560px !default;
$to-gigantic: $from-gigantic - 1 !default;
$from-colossal: 3200px !default;
$to-colossal: $from-colossal - 1 !default;
$from-gargantuan: 3520px !default;
$to-gargantuan: $from-gargantuan - 1 !default;
$from-4k: 4096px !default;
$to-4k: $from-4k - 1 !default;
$from-5k: 5120px !default;
$to-5k: $from-5k - 1 !default;
$from-8k: 7680px !default;
$to-8k: $from-8k - 1 !default;
