// =========================================================
// Settings > CSS Variables
// =========================================================

@use '../settings/config' as *;
@use '../tools/functions' as *;

:root {
  // Grid
  --grid-columns: 4;
  --grid-gutter: #{rem($grid-gutter)};
  --grid-gutter-half: calc(0.5 * var(--grid-gutter));
  --grid-margin: #{$grid-margin};

  // Container
  --container-width: calc(100% - 2 * var(--grid-margin));

  // Font size
  --font-size-base: #{rem($font-size-base)};
  --font-size-medium: #{rem($font-size-medium)};
  --font-size-small: #{rem($font-size-small)};
  --font-size-tiny: #{rem($font-size-tiny)};

  // Heading sizes
  --font-size-h1: #{rem($font-size-h1)};
  --font-size-h2: #{rem($font-size-h2)};
  --font-size-h3: #{rem($font-size-h3)};
  --font-size-h4: #{rem($font-size-h4)};
  --font-size-h5: #{rem($font-size-h5)};
  --font-size-h6: #{rem($font-size-h6)};

  @media (min-width: em($from-medium)) {
    --grid-columns: #{$base-column-num};
  }

  @media (min-width: em($from-huge)) {
    --grid-margin: #{$grid-margin * 1.68};
  }

  //@media (min-width: em($from-colossal)) {
  //  //--grid-gutter: #{rem($grid-gutter)};
  //  --grid-margin: #{$grid-margin * 2 + 1vw};
  //}
}
