// =========================================================
// Objects > Animations (keyframes)
// =========================================================

@keyframes o-fade-in {
  from {
    opacity: 0;
  }
}

@keyframes o-fade-out {
  to {
    opacity: 0;
  }
}
