// =========================================================
// Objects > Container
// =========================================================

.o-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
}
