// =========================================================
// Objects > Tables
// =========================================================

.o-table {
  width: 100%;

  // Force all cells within a table to occupy the same width as each other.
  //
  // @link https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout#Values

  &.-fixed {
    table-layout: fixed;
  }
}
