// =========================================================
// Objects > Editor content (WYSIWYG)
// =========================================================

@use '../settings/config' as *;
@use '../tools/functions' as *;

.o-wysiwyg {
  :first-child {
    margin-top: 0;
  }

  * + * {
    margin-bottom: 0;
  }

  //.o-wysiwyg h2 {
  //    font-size: 1.5rem;
  //    margin: 3.75rem 0 2.8125rem 0
  //}

  //@media (max-width: 699px) {
  //    .o-wysiwyg h2 {
  //        font-size:1.25rem;
  //        margin: 1.875rem 0 .9375rem 0
  //    }
  //}

  //.o-wysiwyg h3 {
  //    font-size: 1.25rem;
  //    margin: 3.75rem 0 .9375rem 0
  //}

  //@media (max-width: 699px) {
  //    .o-wysiwyg h3 {
  //        margin:1.875rem 0 .9375rem 0
  //    }
  //}

  p {
    font-size: 1rem;
    //line-height: 1.6;
    margin: rem($unit-small * 0.5) 0;
  }

  b,
  strong {
    font-weight: 900
  }

  a {
    //color: $color-primary;
    text-decoration: underline;

    //&:hover {
    //  color: $color-primary-light;
    //}
  }

  //.o-wysiwyg ul {
  //    margin: 1.875rem 0 3.75rem;
  //    padding: 0
  //}

  //.o-wysiwyg ul li {
  //    font-family: "Roboto Condensed",sans-serif;
  //    display: block;
  //    padding-left: 2.8125rem;
  //    font-size: 1rem;
  //    margin: 10px 0;
  //    position: relative
  //}

  //.o-wysiwyg ul li::before {
  //    content: "";
  //    position: absolute;
  //    top: .9375rem;
  //    left: 0;
  //    height: 2px;
  //    width: 1.5625rem;
  //    background-color: #000
  //}

  //@media (max-width: 699px) {
  //    .o-wysiwyg ul li {
  //        font-size:.875rem
  //    }

  //    .o-wysiwyg ul li::before {
  //        top: .8125rem
  //    }
  //}

  //@media (max-width: 699px) {
  //    .o-wysiwyg ul {
  //        font-size:1rem
  //    }
  //}

  //.o-wysiwyg table {
  //    width: 100%;
  //    border-bottom: 1px solid #ddd
  //}

  //@media (max-width: 699px) {
  //    .o-wysiwyg table {
  //        display:block;
  //        min-width: 100%;
  //        overflow-x: scroll;
  //        -webkit-overflow-scrolling: touch
  //    }
  //}

  //@media (max-width: 699px) {
  //    .o-wysiwyg table tbody {
  //        min-width:700px;
  //        display: table
  //    }
  //}

  //.o-wysiwyg table td,.o-wysiwyg table th {
  //    border-top: 1px solid #ddd
  //}

  //.o-wysiwyg table th {
  //    text-align: left;
  //    text-transform: uppercase;
  //    font-family: "Roboto Condensed",sans-serif;
  //    font-size: .625rem;
  //    letter-spacing: .06em;
  //    padding: .625rem .4375rem
  //}

  //@media (max-width: 699px) {
  //    .o-wysiwyg table th {
  //        font-size:.75rem
  //    }
  //}

  //.o-wysiwyg table td {
  //    padding: 1.25rem .4375rem;
  //    font-family: "Roboto Condensed",sans-serif;
  //    font-size: .875rem
  //}

  //.o-wysiwyg table td.-red {
  //    color: #e82042
  //}

  //@media (max-width: 699px) {
  //    .o-wysiwyg table td {
  //        font-size:.9375rem
  //    }
  //}

  //.o-wysiwyg table tr:nth-child(odd) {
  //    background-color: #fbfbfb
  //}

  //.o-wysiwyg table tr.has-link {
  //    -webkit-transition: background-color .3s cubic-bezier(.215,.61,.355,1);
  //    transition: background-color .3s cubic-bezier(.215,.61,.355,1)
  //}

  //.o-wysiwyg table tr.has-link:hover {
  //    background-color: #dadada
  //}

  //.o-wysiwyg table tr.has-link td {
  //    padding: 0
  //}

  //.o-wysiwyg table tr.has-link td a {
  //    background: 0 0;
  //    color: inherit;
  //    padding: 1.25rem .4375rem;
  //    display: block
  //}

  @media (min-width: em($from-small)) {
    .o-columns {
      columns: 2;
      column-gap: var(--grid-gutter);
    }
  }
}
